
h1{
	font-size: 34px;
}

.copyright{
	padding: 20px 0px 0px 0px;
	font-size:14px;
}

/* used for mobile and tablets */
@media only screen and (max-width : 749px) {
	/* continuing the color of the container all the way down */
	body{
		background-color: #ecf0f1;
	}
}

/* design spesific for computers */
@media only screen and (min-width : 750px) {

	/* backround image */
	body{
	  	background-image: url("../images/background.jpg");
	}
	
	/* the screen floats in the middle of the screen */
  	.container {
	  position: fixed;
	  width: 680px;
	  top: 50%;
	  left: 50%;
	  /* bring your own prefixes */
	  transform: translate(-50%, -50%);
	}
}
