<!DOCOTYPE html>
<html lang="en">
<head>
	<meta charset-"UTF-8">
	<title>Omri Masasa - Encryption & Decryption Platform</title>
	<meta name="viewport" content="width=device-width, intitial-scale=1.0">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/custom.css') }}">
</head>

<body>
<div class="container well bs-component">
	<h1 align="center">Encryption & Decryption Platform</h1>
	<div class="row form-group jumbotron" align="center">
			<h1>Error</h1>
			{% if error %}
				<h4>{{ error }}!</h4>
			{% else %}
				<h4>We are sorry but something in not right.</h4>
			{% endif %}
			<br>

			<a href="/" class="btn btn-primary btn-sm" align="right" value="Go Back">Go Back</a>
	</div>
	<div class="logo">
		<a href="http://www.omrimasasa.com" target="_blank"><img src="{{ url_for('static',filename='/images/om.png') }}" alt="Omri Masasa"></a>
	</div>
</div>
</body>
</html>