<!DOCOTYPE html>
<html lang="en">
<head>
	<meta charset-"UTF-8">
	<title>Omri Masasa - Encryption & Decryption Platform</title>
	<meta name="viewport" content="width=device-width, intitial-scale=1.0">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/custom.css') }}">
	<script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>
<body>

	<div class="container well bs-component">
		<h1 align="center">Encryption & Decryption Platform</h1>
		<form class="form-horizontal" name="code_form" method="post" action="code" onsubmit="return validateForm()">

			<div class="row form-group">
				<div class="col-sm-2 control-label"><label for="select">Action</label></div>
				<div class="col-sm-10">
					<select class="form-control" onchange="changeSubmitButtonText()" name="act">
						<option value="0">Encrypt Message</option>
						<option value="1">Decrypt Message</option>
					</select>
				</div>
			</div>	

			<div class="row form-group">
			<div class="col-sm-2 control-label"><label for="select">Key Word</label></div>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="key" id="key" placeholder="Enter your Key Word / Phrase">
				<p id="key_err" class="text-danger note"></p>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-2 control-label"><label for="select">Your Message</label></div>
				<div class="col-sm-10">
					<textarea class="form-control" rows="4" name="msg" id="msg" placeholder="Enter your Message"></textarea>
					<p id="msg_err" class="text-danger note"></p>
					<div class="help-block note">Please make sure you remember the key word / phrase, without it it's not possible to decrypt the encrypted text to the original message.</div>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-offset-2 col-sm-8">
					<input id="submit_button" type="submit" class="btn btn-primary" value="Encrypt Message" align="right">
				</div>
				<div class="col-sm-2" align="right">
					<a href="http://www.omrimasasa.com" target="_blank"><img src="{{ url_for('static',filename='/images/om.png') }}" alt="Omri Masasa"></a>
				</div>
			</div>

		</form>
		<div class="copyright">
		Copyright &copy Made by Omri Masasa, All rights reserved.
		</div>
	</div>

</body>
</html>
