<!DOCOTYPE html>
<html lang="en">
<head>
	<meta charset-"UTF-8">
	<title>Omri Masasa - Encryption & Decryption Platform</title>
	<meta name="viewport" content="width=device-width, intitial-scale=1.0">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/custom.css') }}">
</head>
<body>

	<div class="container well bs-component">
	<div class="form-horizontal">
		<h1 align="center">Encryption & Decryption Platform</h1>
		<div class="row form-group">
			<div class="col-sm-2 control-label"><label for="select">Key Word</label></div>
			<div class="col-sm-10">
				<div class="panel panel-primary panel-heading">{{ key }}</div> 
			</div>
		</div>	

		<div class="row form-group">
			<div class="col-sm-2 control-label"><label for="select">Encrypted Message</label></div>
			<div class="col-sm-10">
				<textarea readonly class="form-control panel panel-primary panel-body" rows="4" name="msg" id="msg">{{ org_msg }}</textarea>
				<div class="help-block">Please make sure you remember the key word / phrase, without it it's not possible to decrypt the encrypted text.</div>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-sm-2 control-label"><label for="select">Decrypted Message</label></div>
			<div class="col-sm-10">
				<textarea class="form-control panel panel-success panel-body">{{ dec_msg }}</textarea> 
			</div>
		</div>

		<div class="row form-group">
			<div class="col-sm-offset-2 col-sm-8">
				<a href="/" class="btn btn-primary" align="right" value="Go Back">Go Back</a>
			</div>
			<div class="col-sm-2" align="right">
				<a href="http://www.omrimasasa.com" target="_blank"><img src="{{ url_for('static',filename='/images/om.png') }}" alt="Omri Masasa"></a>
			</div>
		</div>
		</div>
		<div class="copyright">
		Copyright &copy Made by Omri Masasa, All rights reserved.
		</div>
	</div>

</body>
</html>
